<div style="height:10px"></div>
<div style="font-weight: bold;font-size: large;">Add Employee</div>
<div style="height:10px"></div>
<div></div>
<div></div>
<div class="employee_class"><p>
	<label>Employee</label>
	<input ng-model="$ctrl.name" placeholder="Add Name"></input></p>
	<p><label>DOJ </label><input type="date" placeholder="Add Date" ng-model="$ctrl.date_of_birth"></input></p>
	<p><label>Position Held </label><input placeholder="Add Position held" ng-model="$ctrl.position_held"></input></p>
    <button ng-click="$ctrl.add()">Add</button>
</div>